---
import { Image } from 'astro:assets';
import { marked } from 'marked';
import heroImage from '../assets/hero.jpg';
import siteConfig from '../data/site-config';
import Button from './Button.astro';

const hero = siteConfig.hero;
---

{
    (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
        <section class="w-full flex flex-col items-center text-center gap-6 mb-20 sm:mb-28">
            {hero.image?.src && (
                <figure class="w-40 h-40 sm:w-52 sm:h-52 rounded-full overflow-hidden border-2 border-main shadow-xl">
                    <Image class="w-full h-full object-cover" src={heroImage} alt={hero.image.alt || ''} />
                </figure>
            )}
            {hero.title && <h1 class="text-4xl sm:text-6xl font-serif font-bold leading-tight">{hero.title}</h1>}
            {hero.text && <div class="max-w-3xl text-lg sm:text-xl" set:html={marked.parse(hero.text)} />}
            {hero.actions && hero.actions.length > 0 && (
                <div class="flex flex-wrap justify-center gap-4 mt-8">
                    {hero.actions.map((action) => (
                        <Button href={action.href}>{action.text}</Button>
                    ))}
                </div>
            )}
        </section>
    )
}
